body {
    display: grid;
    place-items: center;
    background: gray;
    gap: 5px;
  }
  
  div.board {
    border-style: double;
    height: 578px;
    width: 578px;
  }
  
  div.row {
    display: flex;
  }
  
  div.checkbox {
    height: 70px;
    width: 70px;
    border: 2px solid black;
    cursor: pointer;
  }
  
  div.checkbox:hover {
    background: red !important;
  }
  
  #chess-piece {
    padding: 5px;
    border-radius: 5px;
    font-size: 1.5rem;
  }
  