html {
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='80' height='80' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🚳</text></svg>")
      16 0,
    auto;
}
body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#ball {
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 50px;
  border-radius: 50%;
  transition: top 0.1s linear, left 0.1s linear;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5px;
}

h3 {
  display: inline;
}

button {
  padding: 10px;
  font-size: 1rem;
}
