@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap');
*{
    margin : 0;
    padding : 0;
    box-sizing: border-box;
}

body{
    height : 100vh;
    display : grid;
    place-items: center;
    gap : 20px;
    font-family :'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #21272f;
}

.container{
    display : flex;
    flex-direction: column;
    align-items: center;
    gap : 5px;
    border: 1px solid black;
    padding: 2rem 1rem;
    border-radius: 1rem;
    background : white;
}

.container__labels,.container__inputs,.container__buttons{
    display : flex;
    align-items: center;
    justify-content: space-between;
    gap : 20px;

}

.container__header{
    font-size: 3rem;
    margin-bottom: 2rem;
}

.container__labels--label{
    text-align: center;
    font-size: 2rem;
    padding : 1rem 2rem;
}

.container__inputs--time{
    outline : none;
    border : none;
    font-size : 3rem;
    text-align: center;
    width : 10rem;
    font-family: "Silkscreen", sans-serif;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.container__inputs--colon{
    font-size: 2rem;
    align-self: baseline;
    font-size : 2.5rem;
    font-weight : 700;
}

.container__buttons{
    margin-top : 2rem;
}

.container__buttons--btn{
    padding : 1rem;
    font-size: 1.25rem;
    font-weight: 700;
    min-width : 10rem;
    border-radius : 5px;
    color : white;
    cursor : pointer;
}

.start{
    background : rgb(33, 112, 33);
}
.pause{
    background : orange;
}
.reset{
    background : orangered;
}

.hide{
    display : none;
}

.disableInput{
    pointer-events: none;
}